[flake8]
ignore = E203, W503, W605, I100, I201
max-line-length = 125
exclude =
    build/
    .git
    __pycache__
    .tox
    .mypy_cache
    .pytest_cache
    htmlcov
    dist
    test/data/
    venv/