name: docs

on:
  workflow_call:

permissions:
    contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Build Docs
        run: |
          pip install sphinx
          python -m pip install sphinx-autoapi
          python -m pip install sphinx_rtd_theme
          python -m pip install tox tox-gh-actions
          tox -e docs
      - uses: peaceiris/actions-gh-pages@v3.9.3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .tox/docs/tmp/html/
          force_orphan: true
